body {
    background-color: white;

}

nav {

}

.maincontainer {

}

h1 {
    background-color: #ffffff;
    border-color: #cccccc;
}

#image {

}

section {


}

#section1 {
    
}

#section2 {

}

#section3 {

}

.town {

}

.soccer {

}

p {
    color: #777777;
}

footer {

}

h2 {

}

h3 {

}

.message {

}

.submit {

}

#image1 {

}

#image2 {

}

#image3 {

}

#image4 {

}

#image5 {

}